<!--不带分页的运单列表,在批量提货/批量提款时使用-->
<table class="table" id="bills_table" >
  <thead>
    <tr>
      <th class='bill_date' style='display : none;'>&nbsp;</td>
      <th class='bill_no'>&nbsp;</td>
      <th class='goods_no'>&nbsp;</td>
      <th class='from_to'>&nbsp;</td>
      <th class='customer'>总计</td>
      <th class='pay_type'><span id="count"></span></th>
      <th class="carrying_fee"><span id="sum_carrying_fee"></span></th>
      <th class="carrying_fee_th" style='display : none;'><span id="sum_carrying_fee_th"></span></th>
      <th class="goods_fee"><span id="sum_goods_fee"></span></th>
      <th class="th_amount" style='display : none;'><span id="sum_th_amount"></span></th>
      <th class="k_hand_fee" style='display : none;'><span id="sum_k_hand_fee"></span></th>
      <th class="k_carrying_fee" style='display : none;'><span id="sum_k_carrying_fee"></span></th>
      <th class="transit_company" style='display : none;'>&nbsp;</th>
      <th class="transit_bill_no" style='display : none;'>&nbsp;</th>
      <th class="transit_bill_no_edit" style='display : none;'>&nbsp;</th>
      <th class="transit_to_phone" style='display : none;'>&nbsp;</th>
      <th class="transit_to_phone_edit" style='display : none;'>&nbsp;</th>

      <th class="transit_carrying_fee" style='display : none;'><span id="sum_transit_carrying_fee"></span></th>
      <th class="transit_carrying_fee_edit" style='display : none;'><span id="sum_transit_carrying_fee_edit"></span></th>
      <th class="agent_carrying_fee" style='display : none;'><span id="sum_agent_carrying_fee"></span></th>
      <th class="transit_hand_fee" style='display : none;'><span id="sum_transit_hand_fee"></span></th>
      <th class="transit_hand_fee_edit" style='display : none;'><span id="sum_transit_hand_fee_edit"></span></th>

      <th class="act_pay_fee" style='display : none;'><span id="sum_act_pay_fee"></span></th>
      <th class="insured_fee"><span id="sum_insured_fee"></span></td>
      <th class="from_short_carrying_fee" style='display : none;'><span id="sum_from_short_carrying_fee"></span></th>
      <th class="to_short_carrying_fee" style='display : none;'><span id="sum_to_short_carrying_fee"></span></th>
      <th class="note">&nbsp;</td>
      <th class="state" style='display : none;'>&nbsp;</td>
      <th class="send_state" style='display : none;'>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>

    <tr class='text-center'>
      <th class='bill_date' style='display:none;'>开票日期</th>
      <th class='bill_no'>票号</th>
      <th class='goods_no'>货号</th>
      <th class='from_to'>起止点</th>
      <th class='customer'>发货人~收货人</th>
      <th class='pay_type'>付款方式</th>
      <th class="carrying_fee">运费</th>
      <th class="carrying_fee_th" style='display : none;'>提付运费</th>
      <th class="goods_fee">代收货款</th>
      <th class="th_amount" style='display : none;'>提货应收</th>
      <th class="k_hand_fee" style='display : none;'>扣手续费</th>
      <th class="k_carrying_fee" style='display : none;'>扣运费</th>
      <th class="transit_company" style='display : none;'>中转公司</th>
      <th class="transit_bill_no" style='display : none;'>中转票号</th>
      <th class="transit_bill_no_edit" style='display : none;'>中转票号</th>
      <th class="transit_to_phone" style='display : none;'>到货电话</th>
      <th class="transit_to_phone_edit" style='display : none;'>到货电话</th>
      <th class="transit_carrying_fee" style='display : none;'>中转运费</th>
      <th class="transit_carrying_fee_edit" style='display : none;'>中转运费</th>
      <th class="agent_carrying_fee" style='display : none;'>代收运费</th>
      <th class="transit_hand_fee" style='display : none;'>中转手续费</th>
      <th class="transit_hand_fee_edit" style='display : none;'>中转手续费</th>
      <th class="act_pay_fee" style='display : none;'>实提货款</th>
      <th class="insured_fee">保价费</th>
      <th class="from_short_carrying_fee" style='display : none;'>发货地短途运费</th>
      <th class="to_short_carrying_fee" style='display : none;'>到货地短途运费</th>
      <th class="note">备注</th>
      <th class="state" style='display : none;'>状态</th>
      <th class="send state" style='display : none;'>送货状态</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody id='bills_table_body'></tbody>
</table>
