<%= form_tag search_service_carrying_bills_path,:method => :get,:style => "margin : 0;padding : 4px;background : transparent;" do %>
  <%=text_area_tag :bill_nos,"",:size => "30x4"%>
  <div style='text-align : right;'>
    <%=submit_tag "查询运单"%>
  </div>
<% end%>
