<%= form_tag search_service_carrying_bills_path,:method => :get,:style => "margin : 0;padding : 0;background : #EAE9E8;" do %>
  <%=text_area_tag :bill_nos,"",:size => "25x4"%>
  <div style='text-align : right;'>
    <%=submit_tag "查询运单"%>
  </div>
<% end%>
