<table style='border-collapse : collapse;border : none;'>
  <%if @carrying_bills.blank?%>
    <tr style='border-bottom : 1px solid gray;'>
      <td colspan='2'>您所查询的运单不存在!</td>
    </tr>
  <%end%>
  <%@carrying_bills.each do |bill|%>
    <tr style='border-bottom : 1px solid gray;'>
      <td>
        <%=bill.bill_no%>/<%=bill.goods_no%>
      </td>
      <td>&nbsp;</td>
      <td>
        <%=bill.human_state_name%>
      </td>
    </tr>
  <%end%>
  <tr>
    <td colspan='2' style='text-align : right;'><%= button_to "返回",search_service_page_carrying_bills_path,:method => :get%></td>
  </tr>
</table>
