.bundle
db/*.sqlite3*
log/*.log
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*.sw?
*~
.DS_Store
public/javascripts/il-javascripts.js
public/javascripts/il-ie-javascripts.js
public/stylesheets/il-stylesheets.css
