<div class='enter2tab'>
  <div class='actions-bar'>
    <input type='text' size="10" class="search_box" data-params = '{"search[state_eq]" : "transited","search[type_in][]" : ["TransitBill","HandTransitBill"],"show_multi" :1,"show_fields" : ".transit_to_phone,.transit_carrying_fee,.transit_bill_no,.transit_hand_fee_edit,.transit_company","hide_fields" : ".insured_fee,.note"}'/>
  </div>
  <%= render "shared/carrying_bills/table_no_paginate" %>
</div>
