<table class='table' data-detailUrl="<%=transit_deliver_info_carrying_bills_path(resource,:show_fields => ".transit_bill_no,.transit_to_phone,.transit_company",:hide_fields => ".insured_fee,.note,.carrying_fee_total,.customer")%>">
  <tbody>
    <tr>
      <td>提货部门:</td>
      <td><%="#{resource.org.name} | #{resource.user}" %></td>
      <td>提货日期:</td>
      <td><%=resource.bill_date.strftime('%Y-%m-%d')%></td>
    </tr>
    <tr>
      <td>备注:</td>
      <td colspan="3"><%=resource.note%></td>
    </tr>
  </tbody>
</table>
<div id="table_wrap"></div>
